<a routerLink="/essence/add">
  <button class="btn-success">Ajouter un vehicule essence</button>
</a>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Marque</th>
    <th scope="col">Modele</th>
    <th scope="col">Energie</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicule of vehicules">
    <td>{{ vehicule.marque }}</td>
    <td>{{ vehicule.modele }}</td>
    <td>{{ vehicule.energie }}</td>
    <td>
      <a [routerLink]="['/essence/edit', vehicule.id]">
        <button>Editer</button>
      </a>

      <a (click)="deleteVehicule(vehicule)">
        <button>Supprimer</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
