<a routerLink="add">
<button class="btn-success">
  Ajouter un vehicule de tous types
</button>
</a>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Marque</th>
    <th scope="col">Modele</th>
    <th scope="col">Energie</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicule of vehicules">
    <td>{{ vehicule.marque }}</td>
    <td>{{ vehicule.modele }}</td>
    <td>{{ vehicule.energie }}</td>
    <td>
      <a [routerLink]="['edit', vehicule.id]">
      <button>Editer</button>
      </a>
        <button (click)="deleteVehicule(vehicule)">Supprimer</button>

    </td>
  </tr>
  </tbody>
</table>
