<div class="container">
<form #formValidation="ngForm" (ngSubmit)="submitVehicule()">
  <div class="form-group">
    <label for="modele">Modèle</label>
    <input type="text" class="form-control" id="modele"
           name="modele" required [(ngModel)]="voitureForm.modele"
           #modele="ngModel">
    <div [hidden]="modele.valid"
         class="alert alert-danger">
      Veuillez saisir le modele de la voiture
    </div>
  </div>

  <div class="form-group">
    <label for="marque">Marque</label>
    <select class="form-control"  id="marque"
            required
            [(ngModel)]="voitureForm.marque" name="marque" #marque="ngModel">
      <option></option>
      <option *ngFor="let marque of marqueDisponible" [value]="marque">{{marque}}</option>
    </select>
    <div [hidden]="marque.valid"
         class="alert alert-danger">
      Veuillez saisir la marque de la voiture
    </div>
  </div>

  <div class="form-group" *ngIf="energy == 'dashboard'">
    <label for="marque">Energie</label>
    <select class="form-control"  id="energie"
            required
            [(ngModel)]="voitureForm.energie" name="energie" #energie="ngModel">
      <option></option>
      <option *ngFor="let energie of energieDisponible" [value]="energie">{{energie}}</option>
    </select>
    <div [hidden]="energie.valid"
         class="alert alert-danger">
      Veuillez saisir la marque de la voiture
    </div>
  </div>

  <input type="submit" [disabled]="!formValidation.valid" >
</form>
</div>
