<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/essence">Essence</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gasole">Gasole</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/electrique">electrique</a>
  </li>
</ul>
